<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cookandroid.subdietapp"
    android:targetSandboxVersion="1">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SubDietApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".AddKcalDirectActivity"
            android:exported="false" />
        <activity
            android:name=".posting.MyWritePostingActivity"
            android:exported="false" />
        <activity
            android:name=".posting.EditPostingActivity"
            android:exported="false" />
        <activity
            android:name=".posting.SearchPostingActivity"
            android:exported="false" />
        <activity
            android:name=".posting.MyLikePostingActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.cookandroid.subdietapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <activity
            android:name=".posting.SelectedPostingActivity"
            android:exported="false" />
        <activity
            android:name=".posting.AddPostingActivity"
            android:exported="false" />
        <activity
            android:name=".exercise.ExerciseSearchEditActivity"
            android:exported="false" />
        <activity
            android:name=".exercise.ExerciseSearchAddActivity"
            android:exported="false" />
        <activity
            android:name=".exercise.SelectedExerciseSearchActivity"
            android:exported="false" />
        <activity
            android:name=".exercise.SelectedExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".SelectedDayActivity"
            android:exported="false" />
        <activity
            android:name=".login.RegisterFiveActivity"
            android:exported="false" />
        <activity
            android:name=".login.RegisterFourActivity"
            android:exported="false" />
        <activity
            android:name=".login.RegisterThreeActivity"
            android:exported="false" />
        <activity
            android:name=".login.RegisterTwoActivity"
            android:exported="false" />
        <activity
            android:name=".login.RegisterFirstActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>