<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cookandroid.subdietapp"
    android:targetSandboxVersion="1">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SubDietApp">
        <activity
            android:name=".SelectedPostingActivity"
            android:exported="false" />
        <activity
            android:name=".exercise.ExerciseSearchEditActivity"
            android:exported="false" />
        <activity
            android:name=".exercise.ExerciseSearchAddActivity"
            android:exported="false" />
        <activity
            android:name=".exercise.SelectedExerciseSearchActivity"
            android:exported="false" />
        <activity
            android:name=".exercise.SelectedExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".SelectedDayActivity"
            android:exported="false" />
        <activity
            android:name=".login.RegisterFiveActivity"
            android:exported="false" />
        <activity
            android:name=".login.RegisterFourActivity"
            android:exported="false" />
        <activity
            android:name=".login.RegisterThreeActivity"
            android:exported="false" />
        <activity
            android:name=".login.RegisterTwoActivity"
            android:exported="false" />
        <activity
            android:name=".login.RegisterFirstActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>